apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - operatorgroup.yaml
  - subscription.yaml
  - metallb.yaml
  - addresspool.yaml
  - l2advertisement.yaml
